/**
 * Variable colors
 */

$beige: #fff5e2;
$gold: #b5975c;

$orange: #d65722;
$lightOrange: #ff6d2e;

$darkGreen: #232d24;
$green: #3b7242;
$lightGreen: #55B561;

$darkGrey: #222;
$grey: #555555;
$lightGrey: #ccc;

$blue: #4192D9;


/* Fonts */

$paytone: "Paytone One", sans-serif;
$gloria: 'Gloria Hallelujah', cursive;
