@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Paytone+One&display=swap");

/**
 * Base styles
 */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
  font-family: "Roboto";
}

input,
button,
textarea {
  font-family: "Roboto";
  color: $darkGrey;
}

body {
  min-width: 360px;
  height: 100%;
  min-height: 100%;
  font-size: 1.4rem;
  color: $darkGrey;
  background-color: $beige;
}

p {
  line-height: normal;
}

a {
  --color: #{$lightGreen};

  color: var(--color);
  transition: .3s all ease;

  &:hover {
    --color: #{$green};
  }
}
